/* Creating navbar  and footer*/

.navbar {
    background-color: rgb(211, 236, 243) !important;
} 

.authname {
    max-width: 960px;
    
}

.container {
    max-width: 960px;
}

.navbar .navbar-nav li a {
    color: #36362d !important;
}

.navbar  .navbar-brand  {
    font-family: 'Lobster', cursive;
    padding: 10px;
    height: 100%;
    background-color: #4aaaa5 ;
    font-size: 200%;
}

.navbar p {
    font-family: 'Lobster', cursive;
    font-weight: 500;
}

body {
    background: url(Images/ricepaper.png); 
}

.navbar-toggler {
    background-color: #63548d;
}

 .fixed-bottom {
    text-align: center;
    margin-top: 5px;
}

.my-container {
   
    border: 3px solid brown;
    max-width: 960px;
    margin-left: auto;
}

#exampleInputMessage {
    height: 150px;
    
}

/* About Page */

h1 {
    display: block;
    border-bottom: 2px solid grey;
    font-size: 400%;
    font-family: 'Lobster', cursive;
}

p {
    font-family: Crimson Text, serif;
    font-size: 120%;
}   

.Authimage  img {
    height: 200px;
    width: 200px;
    padding: 10px;
    
    
}




/* portfolio page */

#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }

  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #e0f1f0;
  }

img {
    height: 200px;
    width: 200px;
    
}
.carousel-caption h3{
    
    position: absolute;
    bottom: 0px;
    width: 127%;
    margin-left: -18px;
    padding: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    font-family: 'Mr Dafoe', cursive;
    font-weight: 300;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;  
    
}


